# Backend Configuration

# App
PORT=5000
NODE_ENV=development

# Telegram Bot Credentials
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_channel_id_here

# PayPal API Credentials
PAYPAL_CLIENT_ID=Adzz5qwPQXDX19KzojCKnThh9kyS1Pkk0wwnqBMh5jXmwUxd24P-cegOhQ2xwHaHDKbUwzD_PRVlphYE
PAYPAL_CLIENT_SECRET=EGmdYFGBkHVvC45M95pHvNX6wzwp26zJSweIYy37tsqE_0HqHThx3uEvcLKlJ5icw6JYMTiS4uDqjHU3
PAYPAL_MODE=sandbox

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
